
# ===== some the debug tools we used ==============

#  - evtest used to debug input event like touch panel, key, mouse, etc
BR2_PACKAGE_EVTEST=y

#  - procrank used to monitor the memory used by each process, thread, application
BR2_PACKAGE_PROCRANK_LINUX=y

# - IOzone is a filesystem benchmark tool
BR2_PACKAGE_IOZONE=y

#  - install the libdrm test programs
BR2_PACKAGE_LIBDRM_INSTALL_TESTS=y

#  - i2c tool used to detec, dump, set and get i2c devices
BR2_PACKAGE_I2C_TOOLS=y

#  - strace used to track what system calls a program makes
BR2_PACKAGE_STRACE=y

#  - iputils is a set of network debug tools like ping, tracepath, arping, tftpd, rarpd, clockdiff, rdisc
BR2_PACKAGE_IPUTILS=y

#  - debug tools for wireless devices using the mac80211 kernel stack
BR2_PACKAGE_IW=y

#  - how the shared memory is used and which 'old' libs are loaded.
BR2_PACKAGE_MEMSTAT=y

#  - The lsof tool lists information about files opened by processes
BR2_PACKAGE_LSOF=y

#  - memory allocation debug library
BR2_PACKAGE_DMALLOC=y

# Provides things like kill, ps, uptime, free, top, etc for next generation
BR2_PACKAGE_PROCPS_NG=y

#  - add stress-ng
BR2_PACKAGE_STRESS_NG=y

#  - fio is an I/O tool meant to be used both for benchmark and stress/hardware verification
BR2_PACKAGE_FIO=y

#  - iperf is a tool for active measurements of the maximum achievable bandwidth on IP networks.
BR2_PACKAGE_IPERF3=y

#  - whetstone is used to benchmark cpu's floatint point performance
BR2_PACKAGE_WHETSTONE=y

#  - dhrystone is a benchmark used to benchmark cpu's integer performance
BR2_PACKAGE_DHRYSTONE=y

#  - lmbench is used to benchmark memory bandwidth
BR2_PACKAGE_LMBENCH=y

#  - unixbench can benchmark cpu, ram, disk etc
BR2_PACKAGE_UNIXBENCH=y
