
# ===== some the debug tools we used ==============

#  - evtest used to debug input event like touch panel, key, mouse, etc
BR2_PACKAGE_EVTEST=y

#  - procrank used to monitor the memory used by each process, thread, application
BR2_PACKAGE_PROCRANK_LINUX=y

# - IOzone is a filesystem benchmark tool
BR2_PACKAGE_IOZONE=y

#  - install the libdrm test programs
BR2_PACKAGE_LIBDRM_INSTALL_TESTS=y

#  - i2c tool used to detec, dump, set and get i2c devices
BR2_PACKAGE_I2C_TOOLS=y

#  - strace used to track what system calls a program makes
BR2_PACKAGE_STRACE=y

#  - iputils is a set of network debug tools like ping, tracepath, arping, tftpd, rarpd, clockdiff, rdisc
BR2_PACKAGE_IPUTILS=y

#  - debug tools for wireless devices using the mac80211 kernel stack
BR2_PACKAGE_IW=y

#  - how the shared memory is used and which 'old' libs are loaded.
BR2_PACKAGE_MEMSTAT=y

#  - The lsof tool lists information about files opened by processes
BR2_PACKAGE_LSOF=y
