# Architecture
BR2_arm=y
BR2_cortex_a8=y

# Toolchain
BR2_TOOLCHAIN_BUILDROOT_LARGEFILE=y
BR2_TOOLCHAIN_BUILDROOT_INET_IPV6=y
BR2_TOOLCHAIN_BUILDROOT_INET_RPC=y
BR2_TOOLCHAIN_BUILDROOT_WCHAR=y

BR2_PACKAGE_HOST_GDB=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y

# System
BR2_TARGET_GENERIC_HOSTNAME="Jetlab"
BR2_TARGET_GENERIC_ISSUE="Welcome to Jetlab"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_DEVTMPFS=y
BR2_TARGET_GENERIC_GETTY_PORT="ttymxc0"

BR2_ROOTFS_POST_BUILD_SCRIPT="board/jetlab/incstage/post_build.sh"

# uboot
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BOARDNAME="incstage"

BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_GIT_REPO_URL="https://github.com/linux-knight/uboot.git"
BR2_TARGET_UBOOT_CUSTOM_GIT_VERSION="jetlab/incstage"

BR2_TARGET_UBOOT_FORMAT_CUSTOM=y
BR2_TARGET_UBOOT_FORMAT_CUSTOM_NAME="u-boot.imx"

# Benchmark package
BR2_PACKAGE_TIOBENCH=y
